<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'index.html' %}
    <meta charset="UTF-8">
    <title>{{ data.0.country }}</title>
</head>
<body>



{% block content %}
<h1>{{ data.0.country }}</h1>

<h2>Populacja:</h2>
<p>{{ data.0.population }}</p>

<h2>Aktualnie chorzy:</h2>
<p>{{ data.0.cases.active }}</p>

<h2>Przypadki:</h2>
<p>{{ data.0.cases.total }}</p>

<h2>Śmierci:</h2>
<p>{{ data.0.deaths.total }}</p>

{% autoescape off %}
{{ diagram }}
{% endautoescape %}

{% endblock %}



</body>
</html>